<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shinnytech.futures">

    <!-- location dangerous​ -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- storage dangerous -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- phone dangerous -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- network -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 不显示任何通知栏提示 -->
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <!-- vibrate -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 前台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- 前后台切换 -->
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".application.BaseApplication"
        android:icon="${app_icon}"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:exported="false"
            android:name=".service.WebSocketService"
            android:priority="1000" />

        <service
            android:priority="1000"
            android:name=".service.ForegroundService"
            android:exported="false"/>

        <receiver
            android:name=".receiver.NotificationClickReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="notification_click" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".controller.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityTheme" />
        <activity
            android:theme="@style/MainActivityTheme"
            android:name=".controller.activity.FutureInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.activity.LoginActivity"
            android:label="@string/login_activity_title_login"
            android:screenOrientation="portrait"
            android:theme="@style/LoginActivityTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".controller.activity.SearchActivity"
            android:label="@string/search_activity_name"
            android:screenOrientation="portrait"
            android:theme="@style/SearchActivityTheme"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:theme="@style/MainActivityTheme"
            android:name=".controller.activity.AccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/MainActivityTheme"
            android:name=".controller.activity.FeedBackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.activity.BankTransferActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:theme="@style/MainActivityTheme"
            android:name=".controller.activity.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/MainActivityTheme"
            android:name=".controller.activity.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/MainActivityTheme"
            android:name=".controller.activity.BrokerListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/MainActivityTheme"
            android:name=".controller.activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/MainActivityTheme"
            android:name=".controller.activity.ParaChangeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/MainActivityTheme"
            android:name=".controller.activity.KlineDurationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/MainActivityTheme"
            android:name=".controller.activity.AddKlineDurationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/MainActivityTheme"
            android:name=".controller.activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/MainActivityTheme"
            android:name=".controller.activity.SubSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/MainActivityTheme"
            android:name=".controller.activity.OptionalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/MainActivityTheme"
            android:name=".controller.activity.CommonSwitchActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>