<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shinnytech.futures">

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- SD卡读写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 电话权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- VISIBILITY_HIDDEN表示不显示任何通知栏提示的权限 -->
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 百度统计使用 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- 前台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:name=".application.BaseApplication"
        android:allowBackup="true"
        android:icon="${app_icon}"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".controller.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityTheme" />
        <activity
            android:name=".controller.activity.FutureInfoActivity"
            android:screenOrientation="portrait" />

        <service android:name=".model.service.WebSocketService" />

        <activity
            android:name=".controller.activity.LoginActivity"
            android:label="@string/login_activity_title_login"
            android:screenOrientation="portrait"
            android:theme="@style/LoginActivityTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".controller.activity.SearchActivity"
            android:label="@string/search_activity_name"
            android:screenOrientation="portrait"
            android:theme="@style/SearchActivityTheme"
            android:windowSoftInputMode="stateVisible" />

        <receiver
            android:name=".model.receiver.NetworkReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".controller.activity.AccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.activity.FeedBackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.activity.ConfirmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.activity.BankTransferActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoginActivityTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".controller.activity.AboutActivity" />
        <activity
            android:name=".controller.activity.ChangePasswordActivity"
            android:theme="@style/LoginActivityTheme" />
        <activity android:name=".controller.activity.BrokerListActivity" />
        <activity android:name=".controller.activity.OpenAccountActivity" />
        <activity android:name=".controller.activity.SettingActivity" />
        <activity
            android:name=".controller.activity.ParaChangeActivity"
            android:theme="@style/LoginActivityTheme" />
        <activity android:name=".controller.activity.KlineDurationActivity" />
        <activity android:name=".controller.activity.AddKlineDurationActivity" />
        <activity android:name=".controller.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.activity.SubSettingActivity" />
        <activity android:name=".controller.activity.OptionalActivity" />
        <activity android:name=".controller.activity.CommonSwitchActivity"></activity>
    </application>

</manifest>